RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ http://emt.polytech-nancy.univ-lorraine.fr/$1 [L,R=301]