.content{
    max-width: 850px;
    margin: auto;
}

#connexion{
    margin-left:10%;
    width:90%;
}
.champuser{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#nav{
    background-color: #019cde;
    height:auto;
    margin: 0px;
    width:100%;
}
.bouton{
    width:24%;
    height:5%;
    background-color: #019cde;
    color: white;
    border: 0px solid transparent;
    cursor: pointer;
}
.bouton:hover{
    width:24%;
    height:5%;
    background-color: #007ade;
    color: white;
    border: 0px solid transparent;  
    cursor: pointer; 
}
#addusererror,#addusersuccess{
    display:none;
}
