body{
    max-width: 850px;
    margin: auto;
}

#connexion{
    margin-left:10%;
    width:90%;
}
.champuser{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#nav{
    display: inline-block;
    background-color: #019cde;
    height:auto;
    margin: 0px;
    width:100%;
}
.bouton{
    width:24.6%;
    height:5%;
    background-color: #019cde;
    color: white;
    border: 0px;
    padding: 0px;
    cursor: pointer;
}
.bouton:hover{
    background-color: #007ade;
}
#addusererror,#addusersuccess{
    display:none;
}

.carte {
    position: absolute;
    top:150;
    bottom:0;
    max-width: 800px;
    max-height: 500px; 
    width: 100%; 
}

#map { 
    position: absolute;
    top:0;
    bottom:0; 
    width: 100%; 
}

#canevas {
    position: absolute;
    border:1px solid #000000;
}